@font-face {
   font-family: 'OvertheRainbow';
   src: url('OvertheRainbow/font.ttf');
}
@font-face {
   font-family: 'AdventPro-Regular';
   src: url('AdventPro-Regular/font.ttf');
}
@font-face {
   font-family: 'Satisfy-Regular';
   src: url('Satisfy-Regular/font.ttf');
}
